<div>
  <mat-card class="signin-content">
    <mat-card-content>
      <div class="error" *ngIf="isError">
        {{ errorMessage }}
        <br /><br />
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p>Please login to continue</p>
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="User Name"
            formControlName="userName"
            required
          />
          <mat-error *ngIf="isFieldInvalid('userName')">
            <div *ngIf="form['userName'].errors" class="error">
              <div *ngIf="form['userName'].errors['required']">
                Username is required
              </div>
              <div *ngIf="form['userName'].errors['minlength']">
                Username must be at least 4 characters
              </div>
              <div *ngIf="form['userName'].errors['maxlength']">
                Username must not exceed 20 characters
              </div>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <mat-error *ngIf="isFieldInvalid('password')">
            <div *ngIf="form['password'].errors" class="error">
              <div *ngIf="form['password'].errors['required']">
                Password is required
              </div>
              <div *ngIf="form['password'].errors['minlength']">
                Password must be at least 6 characters
              </div>
              <div *ngIf="form['password'].errors['maxlength']">
                Password must not exceed 25 characters
              </div>
            </div>
          </mat-error>
        </mat-form-field>
        <br /><br />
        <button mat-raised-button login-button color="primary" type="submit">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>