<mat-toolbar color="primary">
  <span>BCBS</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="container"> 
    <h1>File Upload</h1>
    
    <form [formGroup]="fileUploadForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)" class="form">
  
      <mat-form-field class="form-element">
        <input type="email" matInput required placeholder="From Email Address" formControlName="fromEmail">
        <mat-error *ngIf="isFieldInvalid('fromEmail')" >
          <div *ngIf="form['fromEmail'].errors" class="error">
            <div *ngIf="form['fromEmail'].errors['required']">
              To Email is required
            </div>
            <div *ngIf="form['fromEmail'].errors['pattern']">
              Email must be a valid email address
            </div>
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input type="email" matInput required placeholder="To Email Address" formControlName="toEmail">
        <mat-error *ngIf="isFieldInvalid('toEmail')">
          <div *ngIf="form['toEmail'].errors" class="error">
            <div *ngIf="form['toEmail'].errors['required']">
              To Email is required
            </div>
            <div *ngIf="form['toEmail'].errors['pattern']">
              Email must be a valid email address
            </div>
          </div>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-element">
        <input  matInput required placeholder="Email Subject" formControlName="subject">
        
        <mat-error *ngIf="isFieldInvalid('subject')">
          <div *ngIf="form['subject'].errors" class="error">
            <div *ngIf="form['subject'].errors['required']">
              Subject is required
            </div>
            <div *ngIf="form['subject'].errors['minlength']">
              Subject must be at least 10 characters
            </div>
            <div *ngIf="form['subject'].errors['maxlength']">
              Subject must not exceed 200 characters
            </div>
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <textarea matInput required placeholder="Email Content" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="description"></textarea>
         <mat-error *ngIf="isFieldInvalid('description')">
          <div *ngIf="form['description'].errors" class="error">
            <div *ngIf="form['description'].errors['required']">
              Description is required
            </div>
            <div *ngIf="form['description'].errors['minlength']">
              Description must be at least 10 characters
            </div>
            <div *ngIf="form['description'].errors['maxlength']">
              Description must not exceed 400 characters
            </div>
          </div>
        </mat-error>
      </mat-form-field>
      
      <input class="form-element" type="file" (change)="onFileChange($event)" />

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button">Submit</button>
      </div>
  
    </form>
  </div>
  
